<h1>List of all post</h1>

<p><a href="{{ path('posts.show', {id:3}) }}">Go to post</a></p>

<p><a href="{{ path('posts.edit', {id:3}) }}">edit post</a></p>

<p><a href="{{ path('posts.show', {id:3}) }}">show post</a></p>

<p><a href="{{ path('posts.new') }}">show post</a></p>
